 
  /*.question-container {
    margin: 20px 0;
  }
  
  .answer-input {
    padding: 5px;
    margin-left: 10px;
  }
  
  #submit-button:disabled {
    background-color: gray;
    cursor: not-allowed;
  }*/
  body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    margin-top: 20px;
  }
  
  #question-form {
    margin-top: 20px;
  }
  
  .question-container {
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
  }
  
  .answer-input {
    padding: 5px;
    width: 70%;
  }
  
  #submit-button:disabled {
    background-color: gray;
    cursor: not-allowed;
  }
  
  #start-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  #start-button:hover {
    background-color: #0056b3;
  }
  
  #countdown {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
  }
    